* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.circle {
  position: relative;
  height: 400px;
  width: 400px;
  margin: 50px auto;
}

.circle1 {
  position: absolute;
  height: 400px;
  width: 400px;
  border-radius: 300px;
  /* border: 2px solid black; */
  margin: auto;
  background: grey;
  animation: anim1 5s 0.3s ease-in-out infinite;
}

.circle2 {
  position: absolute;
  height: 400px;
  width: 400px;
  border-radius: 300px;
  /* border: 2px solid black; */
  margin: auto;
  background: grey;
  animation: anim2 5s 0.3s ease-in-out infinite;
}

@keyframes anim1 {
  100% {
    transform: rotateX(360deg);
  }
}

@keyframes anim2 {
  100% {
    transform: rotateY(360deg);
  }
}
